html{
    height: 100%;
}
body{

background: linear-gradient(0deg,rgb(74, 120, 180) 10%, rgb(45, 106, 185) 20%, rgb(9, 3, 54) 80%);
background-repeat: no-repeat;
background-attachment: fixed;

}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#picture{
    padding-top: 10px;
    width: 130px;
    height: 130px;
    display: block;
    margin: 8px auto 13px;
    border-radius: 50%;
}
.typo,.social-button{
    text-align: center;
    font-size: large;    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#FFEBE1;
    opacity: 80%;
}
 .social-button{
    text-align: center;
    position: relative;
    width: auto;
    font-size: large;
    color: #FFEBE1;
    border: 1.8px solid  #FFEBE1 ;
    border-radius: 27px;
    display: block;
    padding: 16px;
    text-decoration: none;
    margin: 20px 0;
    transition: background-color 200ms ease-in-out   ;

}
.social-button:hover{
    background-color: #f4f5f7;
    color: #171b34;
}

#social-links{
    max-width: 600px;
    width: auto;
    display: block;
    margin: 30px auto;
}
